    $grass: #83BE60;
    $rock: #B7A13D;
    $ice: #98D1D0;
    $dragon: #4B5C90;
    $dark: #6E594B;
    $psychic: #E47892;
    $bug: #A9B932;
    $flying: #C4B3F1;
    $steel: #B1B6CC;
    $fire: #E4823D;
    $fighting: #A23330;
    $ground: #DCC06C;
    $ghost: #8379A2;
    $poison: #8C4D8D;
    $water: #6A8AB9;
    $fairy: #E6ABBB;
    $electric: #F3D042;
    $normal: #A7A879;