@import 'pokekolors';

&--grass {
    color: $grass;
  }

  &--rock {
    color: $rock;
  }

  &--ice {
    color: $ice;
  }

  &--dragon {
    color: $dragon;
  }

  &--dark {
    color: $dark;
  }

  &--psychic {
    color: $psychic;
  }

  &--bug {
    color: $bug;
  }

  &--flying {
    color: $flying;
  }

  &--steel {
    color: $steel;
  }

  &--fire {
    color: $fire;
  }

  &--fighting {
    color: $fighting;
  }

  &--ground {
    color: $ground;
  }

  &--ghost {
    color: $ghost;
  }

  &--poison {
    color: $poison;
  }

  &--water {
    color: $water;
  }

  &--fairy {
    color: $fairy;
  }

  &--electric {
    color: $electric;
  }

  &--normal {
    color: $normal;
  }