@import 'pokekolors';

&--grass {
    border-color: $grass;
  }

  &--rock {
    border-color: $rock;
  }

  &--ice {
    border-color: $ice;
  }

  &--dragon {
    border-color: $dragon;
  }

  &--dark {
    border-color: $dark;
  }

  &--psychic {
    border-color: $psychic;
  }

  &--bug {
    border-color: $bug;
  }

  &--flying {
    border-color: $flying;
  }

  &--steel {
    border-color: $steel;
  }

  &--fire {
    border-color: $fire;
  }

  &--fighting {
    border-color: $fighting;
  }

  &--ground {
    border-color: $ground;
  }

  &--ghost {
    border-color: $ghost;
  }

  &--poison {
    border-color: $poison;
  }

  &--water {
    border-color: $water;
  }

  &--fairy {
    border-color: $fairy;
  }

  &--electric {
    border-color: $electric;
  }

  &--normal {
    border-color: $normal;
  }