@import 'pokekolors';

&--grass {
    background: $grass;
  }

  &--rock {
    background: $rock;
  }

  &--ice {
    background: $ice;
  }

  &--dragon {
    background: $dragon;
  }

  &--dark {
    background: $dark;
  }

  &--psychic {
    background: $psychic;
  }

  &--bug {
    background: $bug;
  }

  &--flying {
    background: $flying;
  }

  &--steel {
    background: $steel;
  }

  &--fire {
    background: $fire;
  }

  &--fighting {
    background: $fighting;
  }

  &--ground {
    background: $ground;
  }

  &--ghost {
    background: $ghost;
  }

  &--poison {
    background: $poison;
  }

  &--water {
    background: $water;
  }

  &--fairy {
    background: $fairy;
  }

  &--electric {
    background: $electric;
  }

  &--normal {
    background: $normal;
  }