
::-webkit-scrollbar { 
    display: none; 
}

//// INDEX HEADER ////

#pkHeader {
  height: 65px;
  background: #F44336;

  .pkB {
    float: left;
    display: inline-block;
    margin: 15px 0 15px 15px;

    &__Bulb {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 50%;
      border: 0px solid white;

      &--green {
        background: #388E3C;
      }

      &--yellow {
        background: #FFA000;
      }
      
      &--red {
        background: #D32F2F;
      }
    }

    &__BigBulb {
      width: 35px;
      height: 35px;
      display: inline-block;
      background: #B0BEC5;
      border-radius: 50%;
      border: 0px solid white;
    }
  }
} 


//// DEX VIEW ////
 
.type {

  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #F9F9F9;

  &__Circle1 {

    &--1 {
      height: 50px;
      width: 50px;
      display: inline-block;
    }

    &--2 {
      height: 50px;
      width: 25px;
      display: inline-block;
    }
  }

  &__Circle2 {
    position: absolute;
    right: 0;
    bottom: 0;

    height: 50px;
    width: 25px;
    display: inline-block;
    border-radius: 0 150px 150px 0;
  } 
}

.cl {

  &--grass {
    background: #83BE60;
  }

  &--rock {
    background: #B7A13D;
  }

  &--ice {
    background: #98D1D0;
  }

  &--dragon {
    background: #4B5C90;
  }

  &--dark {
    background: #6E594B;
  }

  &--psychic {
    background: #E47892;
  }

  &--bug {
    background: #A9B932; 
  }

  &--flying {
    background: #C4B3F1; 
  }
  
  &--steel {
    background: #B1B6CC; 
  }

  &--fire {
    background: #E4823D; 
  }

  &--fighting {
    background: #A23330; 
  }

  &--ground {
    background: #DCC06C; 
  }

  &--ghost {
    background: #8379A2; 
  }

  &--poison {
    background: #8C4D8D; 
  }

  &--water {
    background: #6A8AB9; 
  }

  &--fairy {
    background: #E6ABBB; 
  }

  &--electric {
    background: #F3D042; 
  }

  &--normal {
    background: #A7A879; 
  }
}

.pkPokemon {
  list-style-type: none;
  padding: 20px 0 20px 0;
}