<div ng-class="containerClass">
    <h1 class="pkh1">MeAN.DeX</h1>
    <div ng-class="cardClass">
      <ul>
        <li ng-repeat="Pokemon in Pokemons" ui-sref="dex({ id: Pokemon.id })" class="pkPokemon row valign-wrapper" >
          <div class="col s2 offset-s1 l1 offset-l1 valign">
            <span class="pktype valign"><!-- /!\ REFACTO :AFTER /!\ -->
              <span class="pktype__Circle1--{{Pokemon.types.length}} bg-cl--{{Pokemon.types[(Pokemon.types.length - 1)].name}}"></span>
              <span class="pktype__Circle2 bg-cl--{{Pokemon.types[0].name}}"></span>
            </span>
          </div>
          <div class="col s2 m1 valign">
            <p class="flow-text center-align">#{{Pokemon.id}}</p>
          </div>
          <div class="col s5 m7 valign">
            <a ui-sref="dex({ id: Pokemon.id })" class="flow-text txt-cl--{{Pokemon.types[(Pokemon.types.length - 1)].name}}">{{Pokemon.name | uppercase}}</a>
          </div>
          <div class="col s3 m2 valign pkBall">
            <span></span>
          </div>
        </li>
      </ul>
    </div>
</div>
