<div class="parallax-container">
    <div class="parallax">
        <img ng-src="{{pokeUrl}}" />
    </div>
</div>
<div class="section white container">
    <div class="row">
        <div class="col s8">
            <h2 class="row header pkStat__name">{{poke.name}}</h2>
            <div class="row pkStat__height">HEIGHT : {{poke.height/10}}m</div>
            <!-- <div class="row pkStat__weight">WEIGHT : {{poke.weight/10}}Kg</div> -->
            <div class="row pkStat__type">
                <div ng-repeat="type in poke.types.slice().reverse()">
                    <div ng-if="!($index % 2)">TYPE : </div>
                    <div ng-if="($index % 2)"> / </div>
                    <div> {{type.name | uppercase}} </div>
                </div>
            </div>
        </div>
        <div class="col s4 pkStat__pic">
            <img ng-src="{{poke.pict}}" />
        </div>
    </div>
    <div class="pkEvol">
        <div class="pkEvol__element" ng-show="subEvos" ng-repeat="evo in subEvos.slice().reverse()">
            <!-- <img ng-src="http://img.pokemondb.net/artwork/{{evo.name | lowercase}}.jpg" /> -->
            <img ng-src="http://sprites.pokecheck.org/i/{{evo.id | numberFixedLen:3}}.gif" />
            <p>{{evo.name | uppercase}}</p>
        </div>
        <div class="pkEvol__element">
            <!-- <img ng-src="{{poke.pict}}" /> -->
            <img ng-src="http://sprites.pokecheck.org/i/{{pokeId | numberFixedLen:3}}.gif" />
            <p>{{poke.name | uppercase}}</p>
        </div>
        <div class="pkEvol__element" ng-show="overEvos" ng-repeat="evo in overEvos">
            <img ng-if="(evo.id < 649)" ng-src="http://sprites.pokecheck.org/i/{{evo.id | numberFixedLen:3}}.gif" />
            <img class="pkMegaImg" ng-if="(evo.id > 649)" ng-src="http://img.pokemondb.net/artwork/{{evo.name | lowercase}}.jpg"/>
            <p>{{evo.name | uppercase}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6">
                    <a class="active" href="#stats">Stats</a>
                </li>
                <li class="tab col s6">
                    <a href="#moves">Moves</a>
                </li>
            </ul>
        </div>
        <div class="col s12" id="stats">
            <h4>TOTAL : {{poke.total}}</h4>
            <ul class="row">
                <li>
                    <div class="col s4">
                        HP : {{poke.hp}}
                    </div>
                    <div class="col s8">
                        <div class="progress red lighten-5">
                            <div class="determinate red" style="width: {{poke.percHp}}%"></div>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="col s4">
                        ATK : {{poke.attack}}
                    </div>
                    <div class="col s8">
                        <div class="progress red lighten-5">
                            <div class="determinate red" style="width: {{poke.percAtk}}%"></div>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="col s4">
                        DEF : {{poke.defense}}
                    </div>
                    <div class="col s8">
                        <div class="progress red lighten-5">
                            <div class="determinate red" style="width: {{poke.percDef}}%"></div>
                        </div>

                    </div>
                </li>
                <li>

                    <div class="col s4">
                        SP ATK : {{poke.sp_atk}}
                    </div>
                    <div class="col s8">
                        <div class="progress red lighten-5">
                            <div class="determinate red" style="width: {{poke.percSpAtk}}%"></div>
                        </div>

                    </div>
                </li>
                <li>

                    <div class="col s4">
                        SP DEF : {{poke.sp_def}}
                    </div>
                    <div class="col s8">
                        <div class="progress red lighten-5">
                            <div class="determinate red" style="width: {{poke.percSpDef}}%"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col s4">
                        SPD : {{poke.speed}}
                    </div>
                    <div class="col s8">
                        <div class="progress red lighten-5">
                            <div class="determinate red" style="width: {{poke.percSpeed}}%"></div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12" id="moves">
            <div class="">
                <a class="btn-floating waves-effect waves-light"><i class="mdi-file-file-upload"></i></a>
                <a class="btn-floating waves-effect waves-light"><i class="mdi-av-album"></i></a>
                <a class="btn-floating waves-effect waves-light"><i class="mdi-action-account-child"></i></a>
                <a class="btn-floating waves-effect waves-light"><i class="mdi-notification-adb"></i></a>
            </div>
            <div class="row">
                <ul>
                    <li ng-repeat="move in moves | orderBy: 'learn_type':false | filter: { learn_type: moveFilter }">
                        <div class="col s6">
                            {{move.learn_type}}
                        </div>
                        <div class="col s6">
                            {{move.name}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
