<div class="pkTypesList">
  <section class="cd-section" ng-click="triggerBouncyNav(true)">
    <a class="cd-bouncy-nav-trigger">Browse categories</a>
  </section>

  <div class="cd-bouncy-nav-modal" ng-click="triggerBouncyNav(false)">
    <nav>
      <ul class="cd-bouncy-nav">
        <li><a>Category 1</a></li>
        <li><a>Category 2</a></li>
        <li><a>Category 3</a></li>
        <li><a>Category 4</a></li>
        <li><a>Category 5</a></li>
        <li><a>Category 6</a></li>
      </ul>
    </nav>
    
    <a class="cd-close" ng-click="triggerBouncyNav(false)">Close modal</a>
  </div>
</div>