/* _poke.scss */
.parallax-container {
  height: 600px; }

@media only screen and (max-width: 992px) {
  .parallax-container {
    height: auto; } }
::-webkit-scrollbar {
  display: none; }

#pkHeader {
  height: 65px;
  background: #F44336; }
  #pkHeader .pkB {
    float: left;
    display: inline-block;
    margin: 15px 0 15px 15px; }
    #pkHeader .pkB > * {
      vertical-align: top; }
    #pkHeader .pkB__Bulb {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 50%;
      border: 0; }
      #pkHeader .pkB__Bulb--green {
        background: #8BC34A; }
      #pkHeader .pkB__Bulb--yellow {
        background: #FFEB3B; }
      #pkHeader .pkB__Bulb--red {
        background: #D50000; }
    #pkHeader .pkB__BigBulb {
      width: 35px;
      height: 35px;
      display: inline-block;
      background: #CFD8DC;
      border-radius: 50%;
      border: 0; }

.pktype {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #F9F9F9; }
  .pktype__Circle1--1 {
    height: 50px;
    width: 50px;
    display: inline-block; }
  .pktype__Circle1--2 {
    height: 50px;
    width: 25px;
    display: inline-block; }
  .pktype__Circle2 {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 25px;
    display: inline-block;
    border-radius: 0 50% 50% 0; }

.bg-cl--grass {
  background: #83BE60; }
.bg-cl--rock {
  background: #B7A13D; }
.bg-cl--ice {
  background: #98D1D0; }
.bg-cl--dragon {
  background: #4B5C90; }
.bg-cl--dark {
  background: #6E594B; }
.bg-cl--psychic {
  background: #E47892; }
.bg-cl--bug {
  background: #A9B932; }
.bg-cl--flying {
  background: #C4B3F1; }
.bg-cl--steel {
  background: #B1B6CC; }
.bg-cl--fire {
  background: #E4823D; }
.bg-cl--fighting {
  background: #A23330; }
.bg-cl--ground {
  background: #DCC06C; }
.bg-cl--ghost {
  background: #8379A2; }
.bg-cl--poison {
  background: #8C4D8D; }
.bg-cl--water {
  background: #6A8AB9; }
.bg-cl--fairy {
  background: #E6ABBB; }
.bg-cl--electric {
  background: #F3D042; }
.bg-cl--normal {
  background: #A7A879; }

.pkPokemon {
  list-style-type: none;
  padding: 20px 0 20px 0; }
  .pkPokemon.col > * {
    vertical-align: middle; }
  .pkPokemon a:hover {
    color: #F44336; }
  .pkPokemon .txt-cl {
    font-weight: 400; }
    .pkPokemon .txt-cl--grass {
      color: #83BE60; }
    .pkPokemon .txt-cl--rock {
      color: #B7A13D; }
    .pkPokemon .txt-cl--ice {
      color: #98D1D0; }
    .pkPokemon .txt-cl--dragon {
      color: #4B5C90; }
    .pkPokemon .txt-cl--dark {
      color: #6E594B; }
    .pkPokemon .txt-cl--psychic {
      color: #E47892; }
    .pkPokemon .txt-cl--bug {
      color: #A9B932; }
    .pkPokemon .txt-cl--flying {
      color: #C4B3F1; }
    .pkPokemon .txt-cl--steel {
      color: #B1B6CC; }
    .pkPokemon .txt-cl--fire {
      color: #E4823D; }
    .pkPokemon .txt-cl--fighting {
      color: #A23330; }
    .pkPokemon .txt-cl--ground {
      color: #DCC06C; }
    .pkPokemon .txt-cl--ghost {
      color: #8379A2; }
    .pkPokemon .txt-cl--poison {
      color: #8C4D8D; }
    .pkPokemon .txt-cl--water {
      color: #6A8AB9; }
    .pkPokemon .txt-cl--fairy {
      color: #E6ABBB; }
    .pkPokemon .txt-cl--electric {
      color: #F3D042; }
    .pkPokemon .txt-cl--normal {
      color: #A7A879; }

.pkBall {
  position: relative; }
  .pkBall:after {
    content: "";
    width: 100%;
    height: 4px;
    background: white;
    display: block;
    position: absolute;
    left: 0;
    top: 23px; }
  .pkBall.caught span {
    border-top-color: #F44336;
    border-right-color: #F44336;
    border-left-color: rgba(0, 0, 0, 0.87059);
    border-bottom-color: rgba(0, 0, 0, 0.87059); }
  .pkBall span {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 20px solid #ebebeb;
    border-left: 20px solid #ebebeb;
    border-bottom: 20px solid #ebebeb;
    border-right: 20px solid #ebebeb;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

/*# sourceMappingURL=style.css.map */
